// cm-color
// ----------------------------------------------
//
//
$cm-palette-types: (
    default: (
     50: 50, 
    100: 100, 
    200: 200, 
    300: 300, 
    400: 400, 
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
    950: 950
    ),
    neutral: (
     50: N50, 
    100: 100, 
    200: 200, 
    300: N300, 
    400: 300, 
    500: N400,
    600: 400,
    700: N600,
    800: 700,
    900: 800,
    950: 900
    ),
    accent: (
     50: 50, 
    100: 100, 
    200: A100, 
    300: A200, 
    400: 400, 
    500: A400,
    600: 600,
    700: A700,
    800: 700,
    900: 800,
    950: 900
    )
);
$cm-palettes: (
  "red": (
     50: #FFEBEE, //351° 100%  96%
    100: #FFCDD2, //354° 100%  90%
    200: #EF9A9A, //  0°  73%  77%
    300: #E57373, //  0°  69%  67%
    400: #EF5350, //  1°  83%  63%
    500: #F44336, //  4°  90%  58%
    600: #E53935, //  1°  77%  55%
    700: #D32F2F, //  0°  65%  51%
    800: #C62828, //  0°  66%  47%
    900: #B71C1C, //  0°  73%  41% - #B51C1C -
    950: #A41919,
    A100: #FF8A80,//  5° 100%  75%
    A200: #FF5252,//  0° 100%  66%
    A400: #FF1744,//
    A700: #D50000
  ),
  "pink": (
    50:   #FCE4EC,//340° 80% 94%
    100:  #F8BBD0,//339° 81% 85%
    200:  #F48FB1,//340° 82% 76%
    300:  #F06292,//340° 83% 66%
    400:  #EC407A,//340° 82% 59%
    500:  #E91E63,//340° 82% 52%
    600:  #D81B60,//338° 78% 48%
    700:  #C2185B,//336° 78% 43%
    800:  #AD1457,//334° 79% 38%
    900:  #880E4F,//328° 81% 29%
    950:  #6F0B41,
    A100: #FF80AB,
    A200: #FF4081,
    A400: #F50057,
    A700: #C51162
  ),
  "purple": (
    50:   #F3E5F5,//293° 44% 93%
    100:  #E1BEE7,//291° 46% 83%
    200:  #CE93D8,//291° 47% 71%
    300:  #BA68C8,//291° 47% 60%
    400:  #AB47BC,//291° 47% 51%
    500:  #9C27B0,//291° 64% 42%
    600:  #8E24AA,//287° 65% 40%
    700:  #7B1FA2,//282° 68% 38%
    800:  #6A1B9A,//277° 70% 35%
    900:  #4A148C,//267° 75% 31%
    950:  #37107A,
    A100: #EA80FC,
    A200: #E040FB,
    A400: #D500F9,
    A700: #AA00FF
  ),
  "deep-purple": (
    50:   #EDE7F6,//264° 45% 94%
    100:  #D1C4E9,//261° 46% 84%
    200:  #B39DDB,//261° 46% 74%
    300:  #9575CD,//262° 47% 63%
    400:  #7E57C2,//262° 47% 55%
    500:  #673AB7,//262° 52% 47%
    600:  #5E35B1,//260° 54% 45%
    700:  #512DA8,//258° 58% 42%
    800:  #4527A0,//255° 61% 39%
    900:  #311B92,//251° 69% 34%
    950:  #271789,
    A100: #B388FF,
    A200: #7C4DFF,
    A400: #651FFF,
    A700: #6200EA
  ),
  "indigo": (
    50:   #E8EAF6,// 231° 44% 94%
    100:  #C5CAE9,// 232° 45% 84%
    200:  #9FA8DA,// 231° 44% 74%
    300:  #7986CB,// 230° 44% 64%
    400:  #5C6BC0,// 231° 44% 56%
    500:  #3F51B5,// 231° 48% 48%
    600:  #3949AB,// 232° 50% 45%
    700:  #303F9F,// 232° 54% 41%
    800:  #283593,// 233° 57% 37%
    900:  #1A237E,// 235° 66% 30%
    950:  #12186E,
    A100: #8C9EFF,
    A200: #536DFE,
    A400: #3D5AFE,
    A700: #304FFE
  ),
  "blue": (
    50:   #E3F2FD, // 205° 87% 94%
    100:  #BBDEFB, // 207° 89% 86%
    200:  #90CAF9, // 207° 90% 77%
    300:  #64B5F6, // 207° 89% 68%
    400:  #42A5F5, // 207° 90% 61%
    500:  #2196F3, // 207° 90% 54%
    600:  #1E88E5, // 208° 79% 51%
    700:  #1976D2, // 210° 79% 46%
    800:  #1565C0, // 212° 80% 42%
    900:  #0D47A1, // 216° 85% 34%
    950:  #0A3785,
    A100: #82B1FF, // 217° 100% 75%
    A200: #448AFF, // 218° 100% 63%
    A400: #2979FF, // 218° 100% 58%
    A700: #2962FF  // 224° 100% 58%
  ),
  "light-blue": (
    50:   #E1F5FE,//199° 94% 94%
    100:  #B3E5FC,//199° 92% 85%
    200:  #81D4FA,//199° 92% 74%
    300:  #4FC3F7,//199° 91% 64%
    400:  #29B6F6,//199° 92% 56%
    500:  #03A9F4,//199° 98% 48%
    600:  #039BE5,//200° 97% 45%
    700:  #0288D1,//201° 98% 41%
    800:  #0277BD,//202° 98% 37%
    900:  #01579B,//206° 99% 31%
    950:  #014989,
    A100: #80D8FF,
    A200: #40C4FF,
    A400: #00B0FF,
    A700: #0091EA
  ),
  "cyan": (
    50:   #E0F7FA,//187° 72% 93%
    100:  #B2EBF2,//187° 71% 82%
    200:  #80DEEA,//187° 72% 71%
    300:  #4DD0E1,//187° 71% 59%
    400:  #26C6DA,//187° 71% 50%
    500:  #00BCD4,//187° 100% 42%
    600:  #00ACC1,//187° 100% 38%
    700:  #0097A7,//186° 100% 33%
    800:  #00838F,//185° 100% 28%
    900:  #006064,//182° 100% 20%
    950:  #005052,
    A100: #84FFFF,//
    A200: #18FFFF,//
    A400: #00E5FF,//
    A700: #00B8D4 //
  ),
  "teal": (
    50:   #E0F2F1,//177° 41% 91%
    100:  #B2DFDB,//175° 41% 79%
    200:  #80CBC4,//174° 42% 65%
    300:  #4DB6AC,//174° 42% 51%
    400:  #26A69A,//174° 63% 40%
    500:  #009688,//174° 100% 29%
    600:  #00897B,//174° 100% 27%
    700:  #00796B,//173° 100% 24%
    800:  #00695C,//173° 100% 21%
    900:  #004D40,//170° 100% 15%
    950:  #003D32,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5
  ),
  "green": (
    50:   #E8F5E9,//125° 39% 94%
    100:  #C8E6C9,//122° 38% 84%
    200:  #A5D6A7,//122° 37% 74%
    300:  #81C784,//123° 38% 64%
    400:  #66BB6A,//123° 38% 57%
    500:  #4CAF50,//122° 39% 49%
    600:  #43A047,//123° 41% 45%
    700:  #388E3C,//123° 43% 39%
    800:  #2E7D32,//123° 46% 34%
    900:  #1B5E20,//124° 55% 24%
    950:  #155119,
    A100: #B9F6CA,
    A200: #69F0AE,
    A400: #00E676,
    A700: #00C853
),
  "light-green": (
    50:   #F1F8E9,//88° 52% 94%
    100:  #DCEDC8,//88° 51% 86%
    200:  #C5E1A5,//88° 50% 76%
    300:  #AED581,//88° 50% 67%
    400:  #9CCC65,//88° 50% 60%
    500:  #8BC34A,//88° 50% 53%
    600:  #7CB342,//89° 46% 48%
    700:  #689F38,//92° 48% 42%
    800:  #558B2F,//95° 49% 36%
    900:  #33691E,//103° 56% 26%
    950:  #245A16,
    A100: #CCFF90,
    A200: #B2FF59,
    A400: #76FF03,
    A700: #64DD17
  ),
  "lime": (
    50:   #F9FBE7,//66° 71% 95%
    100:  #F0F4C3,//65° 69% 86%
    200:  #E6EE9C,//66° 71% 77%
    300:  #DCE775,//66° 70% 68%
    400:  #D4E157,//66° 70% 61%
    500:  #CDDC39,//66° 70% 54%
    600:  #C0CA33,//64° 60% 50%
    700:  #AFB42B,//62° 61% 44%
    800:  #9E9D24,//60° 63% 38%
    900:  #827717,//54° 70% 30%
    950:  #695E11,
    A100: #F4FF81,
    A200: #EEFF41,
    A400: #C6FF00,
    A700: #AEEA00
  ),
  "yellow": (
    50:   #FFFDE7,//55° 100% 95%
    100:  #FFF9C4,//54° 100% 88%
    200:  #FFF59D,//54° 100% 81%
    300:  #FFF176,//54° 100% 73%
    400:  #FFEE58,//54° 100% 67%
    500:  #FFEB3B,//54° 100% 62%
    600:  #FDD835,//49° 98% 60%
    700:  #FBC02D,//43° 96% 58%
    800:  #F9A825,//37° 95% 56%
    900:  #F57F17,//28° 92% 53%
    950:  #F2610D,
    A100: #FFFF8D,
    A200: #FFFF00,
    A400: #FFEA00,
    A700: #FFD600
  ),
  "amber": (
    50:   #FFF8E1,//46° 100% 94%
    100:  #FFECB3,//45° 100% 85%
    200:  #FFE082,//45° 100% 75%
    300:  #FFD54F,//46° 100% 65%
    400:  #FFCA28,//45° 100% 58%
    500:  #FFC107,//45° 100% 51%
    600:  #FFB300,//42° 100% 50%
    700:  #FFA000,//38° 100% 50%
    800:  #FF8F00,//34° 100% 50%
    900:  #FF6F00,//26° 100% 50%
    950:  #FF4F00,
    A100: #FFE57F,
    A200: #FFD740,
    A400: #FFC400,
    A700: #FFAB00
   ),
  "orange": (
    50:   #FFF3E0,//37° 100% 94%
    100:  #FFE0B2,//36° 100% 85%
    200:  #FFCC80,//36° 100% 75%
    300:  #FFB74D,//36° 100% 65%
    400:  #FFA726,//36° 100% 57%
    500:  #FF9800,//36° 100% 50%
    600:  #FB8C00,//33° 100% 49%
    700:  #F57C00,//30° 100% 48%
    800:  #EF6C00,//27° 100% 47%
    900:  #E65100,//21° 100% 45%
    950:  #DC4100,
    A100: #FFD180,
    A200: #FFAB40,
    A400: #FF9100,
    A700: #FF6D00
  ),
  "deep-orange": (
    50:   #FBE9E7,//6° 71% 95%
    100:  #FFCCBC,//14° 100% 87%
    200:  #FFAB91,//14° 100% 78%
    300:  #FF8A65,//14° 100% 70%
    400:  #FF7043,//14° 100% 63%
    500:  #FF5722,//14° 100% 57%
    600:  #F4511E,//14° 91% 54%
    700:  #E64A19,//14° 80% 50%                          
    800:  #D84315,//14° 82% 46%
    900:  #BF360C,//14° 88% 40%
    950:  #983314,//14° 88% 40%
    A100: #FF9E80,
    A200: #FF6E40,
    A400: #FF3D00,
    A700: #DD2C00
  ),
  "brown": (
    50:   #EFEBE9,
    100:  #D7CCC8,
    200:  #BCAAA4,
    300:  #A1887F,
    400:  #8D6E63,
    500:  #795548,
    600:  #6D4C41,
    700:  #5D4037,
    800:  #4E342E,  
    900:  #3E2723,  
    950:  #32231E,
    N50:  #F6F4F3,
    N300: #D7CCC8,
    N400: #BCAAA4,
    N600: #795548
  ),
  "grey": (
    50:   #FAFAFA,//0° 0% 98% - - 250 250 250 -
    100:  #F5F5F5,//0° 0% 96% - - 245 245 245 - 87
    200:  #EEEEEE,//0° 0% 93% - - 238 238 238 - 80
    300:  #E0E0E0,//0° 0% 88% - - 224 224 224 - 66
    400:  #BDBDBD,//0° 0% 74% - 12% - 189 189 189 - 31
    500:  #9E9E9E,//0° 0% 62% - 16% - 158 158 158 - 0
    600:  #757575,//0° 0% 46% -  8% - 117 117 117 - 41
    700:  #616161,//0° 0% 38% - 12% -  97  97  97 - 61
    800:  #424242,//0° 0% 26% - 13% -  66  66  66 - 92
    900:  #212121,//0° 0% 13% -  0% -  33  33  33 - 125
    950:  #121212,
    N50:  #FEFEFE,
    N300: #E4E4E4,
    N400: #D1D1D1,
    N600: #9A9A9A
  ),
  "blue-grey": (
    50:   #ECEFF1,
    100:  #CFD8DC,
    200:  #B0BEC5,
    300:  #90A4AE,
    400:  #78909C,
    500:  #607D8B,
    600:  #546E7A,
    700:  #455A64,
    800:  #37474F,
    900:  #263238,
    950:  #151B1E,
    N50:  #F6F8F8,
    N300: #CFD8DC,
    N400: #B0BEC5,
    N600: #607D8B
  ),
  "custom": (
    50:  #D7ECF9,
    100: #A1D2F2,
    200: #61B1EA,
    300: #2C8FD5,
    400: #1077C1,
    500: #0067B1,
    600: #005C9E,
    700: #00528E,
    800: #004272,
    900: #00365C,
    950: #002947
  ),
  "alpha": (
    50:   rgba(255, 255, 255, .95),
    100:  rgba(255, 255, 255, .90),
    200:  rgba(255, 255, 255, .83),
    300:  rgba(255, 255, 255, .69),
    400:  rgba(255, 255, 255, .33),
    500:  transparent,
    600:  rgba(0, 0, 0, .25),
    700:  rgba(0, 0, 0, .38),
    800:  rgba(0, 0, 0, .58),
    900:  rgba(0, 0, 0, .78),
    950:  rgba(0, 0, 0, .88),
    N50:  rgba(255, 255, 255, .98),
    N300: rgba(255, 255, 255, .75),
    N400: rgba(255, 255, 255, .45),
    N600: rgba(255, 255, 255, .25)
  )
);

//# Color Function
// ----------------------------------------------
//

@function cm-color($color-name, $color-shade:null) {
  @if ($color-shade != null) {
    // map inception
    @return map-get(map-get($cm-palettes, $color-name), $color-shade);
  } @else {
    @return map-get($cm-palettes, $color-name);
  }
}

// LINEAR to LOGARITHMIC and vicev-ersa
@function lin2log($n) { @if $n <= 0.0031308 { @return $n * 12.92; } @else { @return 1.055 * pow($n, 1/2.4) - 0.055; } }
@function log2lin($n) { @if $n <= 0.04045 { @return $n / 12.92; } @else { @return pow((($n + 0.055)/1.055), 2.4); } }

// sRGB BT-709 BRIGHTNESS
@function brightness($c) {
	$rlin: log2lin(red($c)/255);
	$glin: log2lin(green($c)/255);
	$blin: log2lin(blue($c)/255);
	@return lin2log(0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin) * 100;
}


// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function cm-contrast($color, $dark: #000000, $light: #ffffff) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);  
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);
    
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);  
  }
}