// cm-font
// ----------------------------------------------
//
//
$cm-typography: (
    'standard': (
        'header-1': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 45px,
            'line-height': 48px,
            'letter-spacing': -0.04em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'header-2': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 34px,
            'line-height': 40px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'headline': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 24px,
            'line-height': 32px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'title': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 500,
            'font-size': 20px,
            'line-height': 28px,
            'letter-spacing': 0.02em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'subhead': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 16px,
            'line-height': 24px,
            'letter-spacing': 0.04em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'body-1': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 'bold',
            'font-size': 14px,
            'line-height': 24px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'body-2': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 14px,
            'line-height': 20px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'action': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 500,
            'font-size': 12px,
            'line-height': 32px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'caption': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 12px,
            'line-height': 24px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        )
    ),
    'cozy': (
        'header-1': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 45px,
            'line-height': 48px,
            'letter-spacing': -0.04em,
            'font-family': "'Roboto-Light','Roboto', Arial, Helvetica, sans-serif"
        ),
        'header-2': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 34px,
            'line-height': 40px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'headline': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 24px,
            'line-height': 32px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'title': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 500,
            'font-size': 20px,
            'line-height': 27px,
            'letter-spacing': 0.02em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'subhead': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 16px,
            'line-height': 24px,
            'letter-spacing': 0.04em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'body-1': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 'bold',
            'font-size': 14px,
            'line-height': 24px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'body-2': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': normal,
            'font-size': 12px,
            'line-height': 24px,
            'letter-spacing': .1px,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        ),
        'action': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 500,
            'font-size': 12px,
            'line-height': 32px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Medium','Roboto', Arial, Helvetica, sans-serif"
        ),
        'caption': (
            'font-style': normal,
            'font-variant': normal,
            'font-weight': 400,
            'font-size': 12px,
            'line-height': 24px,
            'letter-spacing': 0.0em,
            'font-family': "'Roboto-Regular','Roboto', Arial, Helvetica, sans-serif"
        )
    )
);

//# Font Function
// ----------------------------------------------
//
 
@function cm-font($scale, $prop: null) {
  $font: $cm-font--default;
  $font-map: map-get($cm-typography, $font);
  $scale-map: map-get($font-map, $scale);
  @if $prop == 'font-family' {
    @return unquote(map-get($scale-map, $prop));
  } @else if $prop != null {
    @if map-has-key($scale-map, $prop) {
      @return map-get($scale-map, $prop);
    } @else {
      @warn "There is not a font property named: #{$prop}";
    }    
  } @else {
    $font-style: map-get($scale-map, 'font-style');
    $font-variant: map-get($scale-map, 'font-variant');
    $font-weight: map-get($scale-map, 'font-weight');
    $font-size: map-get($scale-map, 'font-size');
    $line-height: map-get($scale-map, 'line-height');
    $font-family: unquote(map-get($scale-map, 'font-family'));
    @return unquote('#{$font-style} #{$font-variant} #{$font-weight} #{$font-size}/#{$line-height} #{$font-family}');
  }  
}